body{
    height: 100vh;
    text-align: center;
}

.grilla-imagenes{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagen{
    width: 25%;
    margin: 10px;
}