body{
    height: 100vh;
}

h1{
    text-align: center;
    margin: 20px;
}

span{
    text-align: center;
}

div .contenedor{
    text-align: left;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    max-width: 1200px;
    
}

.contenedor-divs{
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px;
    margin: 20px;
}

img{
    background-color: rgb(16, 16, 126);
    border-radius: 10%;
    width: 30px;
}