body{
    background-color: black;
}

h1{
    font-size: 120px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    color: aliceblue;
}

p{
    color: aliceblue;
    font-size: 48px;
    font-family: "Caveat", cursive;
    font-weight: 300;
}

#programadora{
    color: black;
    background-color: aquamarine;
}

#futbolista{
    color: black;
    background-color: lightcoral;
}

#poledancer{
    color:black;
    background-color: lightsteelblue;
}